.layout .breadcrumbs{
  width: 100%;
  position: relative;
}

.layout .breadcrumbs .breadcrumbs-container{
  width: 960px;
  margin: 0 auto;
  height: 31px;
}

.layout .breadcrumbs .lines{
  position: relative;
  display: inline-block;
  width: 60%;
  height: 31px;
  float: left;

  svg{
    position: absolute;
    top: 0;
    left: -60%;
    width: 160%;
    height: 100%;
  }

  rect{
    width: 100%;
  }
}

.layout .breadcrumbs .breadcrumbs-container .current-page{
  font: normal normal 31px/31px 'KGEyesWideOpen', Arial, serif;
  text-decoration: none;
  height: 31px;
  text-transform: none;
  color: black;
  padding: 0px 10px;
  display: inline-block;
  float: right;
  width: 40%;
  @include box-sizing(border-box);
}