.layout #footer{
  width: 100%;
}

.layout #footer .footer-container{
  margin: 20px auto;
  width: 960px;
  @include clearfix();
}

.layout .blocks {
  margin: 30px 75px;
}
.layout .blocks .block{
  width: 340px;
  height: 390px;
  padding: 20px;
  float: left;
}
.layout .blocks .block.yellow{
  background: #fff200;
  margin-right: 25px;
}

.layout .blocks .block.black{
  background: black;
  margin-left: 25px;
}

.layout .blocks .block h4{ 
  font-family: 'Times New Roman', Arial, serif;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff200;
  margin: 0;
  font-weight: normal;
}

.layout .blocks .block form{}
.layout .blocks .block form .form-group{
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.layout .blocks .block form .form-group label{
  font-family: 'Georgia', Arial, serif;
  text-decoration: none;
  font-size: 12px;
  color: #fff200;
}

.layout .blocks .block form .form-group .input-control{
  float: right;
}

.layout .blocks .block form .form-group .input-control input{
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  width: 220px;
  padding: 2px 5px;
}

.layout .blocks .block form .prices{
  font-family: 'Georgia', Arial, serif;
  text-decoration: none;
  font-size: 12px;
  color: #fff200;
}
.layout .blocks .block  .form-group.infos{
  font-family: 'Georgia', Arial, serif;
  text-decoration: none;
  font-size: 10px;
  color: #fff200;
}

.layout .blocks .block  .form-submit button{
  float: right;
}

.layout .copyright{
  font-family: 'Times New Roman', Arial, serif;
  text-decoration: none;
  font-size: 10px;
  color: black;
  margin: 30px 0 0;
}

.buy, #footer {
  .post, .footer-container {

    margin: 0 auto;
    padding-top: 50px;
    text-align: center;

    .post-content {
      display: inline-block;
    }


    .block {
      
      width:375px;
      height:375px;
      float:left;
      position: relative;

      &.left {
        margin-right: 50px;
        .block-center {
          line-height: 375px;
        }
      } 


      .block-center {
        position: absolute;
        background: white;
        border:1px solid black;
        z-index: 10;
        width:375px;
        height:375px;

        .text-center {
          line-height: normal;
          display: inline-block;
          vertical-align: middle;
          padding: 0 45px;
          font-family: 'Georgia';
          
          h2 {
            font-family: 'GeorgiaBold';
          }
          
          p {
            padding: 10px 0;
          }

          strong {
            font-size: 20px;
            font-family: 'GeorgiaBoldItalic';
          }

          blockquote {
            font-size: 10px;
            font-family: 'GeorgiaBoldItalic';
            text-align: right;
            p {
            }
          }
        }
      }

      .border-black {
        background-color: black;
        width:375px;
        height:375px;
        float:left;
        position: absolute;
        top: 7px;
        left: 7px;
        z-index: 1;
      }

    }

    #block-right {
      font-family: 'Georgia' ;
      .title {

        text-align: left;
        position: relative;
        margin-top: 18px;
        margin-left: 18px;
        height: 40px;

        h2 {
          background-color: #0085ff;
          padding: 7px 8px;
          display: inline-block;
          position: absolute;
          z-index: 3;
          text-transform: uppercase;
          color: white;
        }

        .block1 {
          background-color: white;
          border: 1px solid black;
          width: 125px;
          height: 30px;
          position: absolute;
          z-index: 2;
          top: 10px;
          left: 10px;
        }

        .block2 {
          background-color: black;
          width: 125px;
          height: 30px;
          position: absolute;
          z-index: 1;
          top: 15px;
          left: 15px;
        }
      }

      .form-buy_wrapper {
        padding-left: 10px;
        padding-right: 75px;
        ul {
          li {

            label {
              float: left;
              font-size: 14px;
            }
      
            .ginput_container {
              margin-top: 7px;
              float: right;
              
              select {
                width: 164px;
              }

              input {
                width: 164px;
                height: 10px;
                background-color: #231f20;
                border: none;
                color: white;
              }
            }

            .instruction {
              display: none;
            }
          }

          #field_2_4 {
            .ginput_container {

              float: none;
        
              input {
                width: 10%;
                height: 15px;
                background-color: white;
                border: none;
                color: black;
                margin-top: 7px;
                margin-left: 20px;
              }
            }

          }
        }
      }
    }

  }
}

#footer-buy {
  
  margin-top: 100px;
  font-size: 14px;
  text-align: center;

  &>ul{
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    &>li {
      float: left;
      padding-right: 150px;

      &:last-child {
        padding-right:0;
      }

      li {
        padding-bottom: 5px;
      }
    }
  }

  p {
    font-family: "Georgia";
    line-height: 18px;
  }

  h3 {
    font-family: "KGEyesWideOpen";
    font-size: 46px;
    padding-bottom: 10px;

    img {
      margin-right: 10px;
    }
  }
  
  h4 {
    padding-bottom: 10px;
  }

  strong {
    font-weight: bold;
  }

  .contact {
    width: 250px;
  }

  .welcome {
    p {
      a {
        margin-top: 15px; 
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        background-color: #fff100;
        font-size: 17px;
        padding: 5px 0;
        
        img {
          padding-left: 10px;
          padding-right: 10px;
        }

      }
    }
  }

}