

.layout{}
.layout #header{ width: 100%;}
.layout #header .header-container{ 
    width: 960px; 
    margin: 0 auto; 
    height: 290px;
}

/* NAVIGATION */

.layout #header .navigation{
    width: 260px;
    float: left;
    margin-top: 40px;
}
.layout #header .navigation ul.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.layout #header .navigation ul.menu li{
    position: relative; 
    margin-bottom: 10px; 
    height: 35px;
}
.layout #header .navigation ul.menu li.long{
    width: 188px;
}
.layout #header .navigation ul.menu li.short{
    width: 112px;
}
.layout #header .navigation ul.menu li a{ 
  display: block; 
  font-family: 'Times New Roman', Arial, serif; 
  text-decoration: none; 
  font-size: 14px; 
  font-style: italic; 
  text-transform: uppercase; 
  color: black; 
  font-weight: bold;
  position: relative;

  &:hover{
    .black--shadow{
      opacity: 1;
      left: 5px;
      top: 5px;
    }
  }

  &:after{
    content: '';
    position: absolute;
    left: -5px;
    top: -5px;
    width: 100px;
    height: 20px;
    background: transparent;
    z-index: 2;
  }

  &.active{
    span:before{
      background: transparent;
    }
    &:after{
      background: #0085ff;
    }
  }

}
.layout #header .navigation ul.menu li a .black--rect{ 
  background: white;
  border: 1px solid #231f20; 
  height: 24px;
  position: absolute;
  width: 100%;
  height: 24px;
  left: 0;
  top: 0;
  z-index: 2;
}

.layout #header .navigation ul.menu li a .black--shadow{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 24px;
  background: black;
  z-index: 1;
  opacity: 0;
  @include transition(top .2s ease-out, left .2s ease-out, opacity .2s ease-out);
}



.layout #header .navigation ul.menu li a span{
  position: absolute; 
  left: 0px; 
  top: -9px;
  z-index: 3;
  padding: 0px 4px 0 6px;
}

.layout #header .navigation ul.menu li a span:before{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  background: white;
}

.layout #header .navigation ul.menu li.long a:after{
  width: 185px;
}



/* / NAVIGATION */



.layout #header a.logo{
    display: block;
    float: left;
    width: 208px;
    height: 208px;
    border: 0;
    text-decoration: none;
    text-indent: -9999px;
    margin: 35px 0 0 100px;
    svg{
        display: block;
    }
}

.layout #header .secondary-links{
    list-style-type: none; 
    padding: 0; 
    margin: 0;
    float: right;
    margin: 27px 0 0 0;
}
.layout #header .secondary-links li{
    float: left;
    margin: 0 5px;
}
.layout #header .secondary-links li.sep{
    float: left;
    margin: 6px 5px 0;
    background: black;
    height: 12px;
    width: 1px;
    background: black;

}
.layout #header .secondary-links li a{
    font-family: 'Times New Roman', Arial, serif; 
    text-decoration: none; 
    font-size: 12px; 
    text-transform: uppercase; 
    color: black; 
}