.main{
  width: 960px;
  margin: 0 auto;
}

.wrapper{
  width: 970px;
  @include clearfix();
  margin: 30px auto 0;
}


button.custom-btn{
  padding: 5px 8px;
  background: #fff200;
  font-family: 'Times New Roman', Arial, serif;
  text-decoration: none;
  font-size: 12px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  @include border-radius(3px);
  margin: 3px 0;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hide{
  display: none !important;
}

.hidden {
  @include opacity(0);
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
