.main {

	&.news {
		width: 1280px;
			
		.post-global {
			margin-top: 20px;
			margin-bottom: 60px;
		}	

		.article {
			
			&.empty {
				display: none;
			}

			position: relative;
			height: 720px;
			
			&:hover {
				.contenu {

					.center {
						opacity: 1
					}

					.opacity {
						opacity: 0.5;	
					}

				}

			}

			> div {
				height: 720px;
			}

			.photo {
				position: absolute;
				z-index: 1;
			}
			
			.contenu {
				position: absolute;
				z-index: 10;
				padding-top: 80px;
				margin: 0 auto;
				text-align: center;
				
				.center {
					position: relative;
					width: 70%;
					height: 560px;
					margin: 0 auto;
					text-align: left;
					opacity: 0;
					@include transition(opacity 1s ease-in-out);
					z-index: 30;
					color: #fff100;
					overflow: auto;

					h2 {
						font-size: 24px;
						text-transform: uppercase;
					}

					p {
						margin: 20px 0 10px 0;
						font-family: 'Georgia';
					}
				}

				.mCSB_draggerContainer {

					.mCSB_draggerRail{
						width: 15px;
						border-radius: 0;
						background-color: black;
					}

					.mCSB_dragger_bar{
						background-color: #fff100;
						width: 15px;
						border-radius: 0;
					}
				}

				.opacity {
					position: absolute;
					width: 1280px;
					height: 720px;
					top: 0;
					left: 0;
					opacity: 0;
					background-color: white;
					@include transition(opacity 1s ease-in-out);
					z-index: 20;
				}
			}

		}
		
		.video {
			&.empty {
				display: none;
			}
		}

	}

}