.todo {

	.titre {

		padding-top: 20px;
		
		img {
			float: left;
		}

		h2 {
			float: left;
			padding-top: 13px;
			padding-left: 10px;
			font-size: 21px;
			font-family: 'Georgia', sans-serif;
		}

	}

	.global {
		margin-top: 22px;
	}

	.cadre-todo {
		position: relative;
		float: left;

		.cadre-white {
			width: 540px;
			height: 240px;
			border: 1px solid black;
			background-color: white;
			position: relative;	
			z-index: 10;
			
			> ul {
				height: 148px;
				width: 550px;
				margin-top: 20px;
				margin-left: 20px;
				overflow: auto;

				li {
					font-family: 'Georgia', sans-serif;
					padding-bottom: 5px;

					.check {
						float: right;
						padding-right: 20px;
					}
				}
			}

		}
		
		.form-todo_wrapper {
			margin: 0;

			input[type=submit] {
				background-color: #0085ff;
				border: none;
				width: 71px;
				height: 20px;
				font-size: 12px;
				color: white;
				font-family: 'Georgia', sans-serif;
				cursor: pointer;
			}
		}

		.form-todo {
			.form-title {
				display: none;
			}

			.champ-todo {
				textarea {
					width: 170px;
					height: 20px;
					padding-top: 13px;
					padding-left: 20px;
					margin-left: 20px;
				}
			}
		}

		.mCSB_draggerContainer {

			.mCSB_draggerRail{
				width: 15px;
				border-radius: 0;
				background-color: black;
			}

			.mCSB_dragger_bar{
				background-color: #0085ff;
				width: 15px;
				border-radius: 0;
			}
		}

		.cadre-black {
			width: 540px;
			height: 240px;
			position: absolute;
			top: 5px;
			left: 5px;
			background-color: black;
			z-index: 1;
		}
	}

	.block-citation {
		width: 330px;
		height: 240px;
		border: 1px solid #7F7F7F;
		text-align: center;
		float: right;
		
		ul {
			width: 250px;
			margin: 0 auto;
		}

		li {
			text-align: right;
			font-style: italic;
			&:first-child {
				font-size: 24px;
				text-align: left;
				margin-top: 70px;
			}
		}

		
	}


}