
/* PAGER BOARD */
.pagerboard{
  width: 900px;
  overflow: hidden;
  position: relative;
  float: left;
  margin-left: 30px;
  &:after{
    clear: both;
  }
}

.pagerboard-pages{
  width: 815px;
  float: left;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  li
  {
    float: left;
    margin: 0 15px 15px 0;
    width: 400px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
    height: 500px;
    position: relative;

    &:nth-child(2n){
      margin-right: 0;
    }
    .article__image-background{
      background-size: cover;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    .article__video--iframe{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      iframe{
        width: 100%;
        height: 100%;
      }
    }

    .article__contents{
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}

.pagerboard-navigation{
  float: right;
  width: 70px;
  margin: 0;
  .pagerboard-container{
    margin: 50px 0 0 0;
  } 
  ul{
    padding: 0;
    margin: 0;
    @include clearfix();
  }
  li{
    margin: 0 5px 5px 0;
    float: left;
    &:nth-child(2n){
      margin-right: 0;
    }
  }

  li, a{
    content: '';
    display: block;
    width: 30px;
    height: 40px;
    background: #0085ff;
  }

  a{
    a:hover{
      background: #999;
    }
    &.selected{
      background: black;
    }
  }

}

 .editions{
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 40px;
  float: left;
}
 .editions li{
  position: relative; 
  margin-bottom: 10px; 
  height: 24px
}
 .editions li a{
  display: block; 
  font-family: 'Times New Roman', Arial, serif; 
  text-decoration: none; 
  font-size: 14px; 
  font-style: italic; 
  text-transform: uppercase; 
  color: black; 
  font-weight: bold;
}
 .editions li a .black{
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 0;
  width: 24px;
  height: 24px;
  background: black;
  z-index: 1;
  display: none;
}

 .editions li a.active .black{
  display: block;
}

.editions li a .yellow{
  background: #0085ff; 
  height: 24px;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  top: 0;
  z-index: 2;
}

.editions li a div{
  position: absolute; 
  left: 6px; 
  top: 2px;
  z-index: 3;
}